<div class="container">
  <div class="col-md-3"></div>
    <div class="col-md-6 chat-room-style text-center">

      <h1>Enter an Existing Chat Room</h1>

        <%= render @chat_rooms %>
      <hr>
      <p class="lead"><%= link_to 'Create a New Chat Room', new_chat_room_path, class: 'btn btn-primary btn-outline' %></p>

    </div>
  <div class="col-md-3"></div>
</div>
