<div class="container">
  <div class="col-md-3"></div>
    <div class="col-md-6 chat-room-style text-center">
      <h1>Create a New Chat Room</h1>
      <br>

      <%= form_for @chat_room do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, autofocus: true, class: 'form-control' %>
        </div>

        <%= f.submit "Add", class: 'btn btn-primary btn-lg' %>
      <% end %>
    </div>
  <div class="col-md-3"></div>
</div>
