<div class="container-fluid">
	<div class="row">
    <nav class="navbar navbar-default navbar-fixed-bottom app-footer" role="navigation">
		<div class="col-md-12">
      <p><%= copyright_generator %></p>
		</div>
  </nav>
	</div>
</div>
