<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h4 align="center">Click on a State to See How Your Senator Voted</h4>
      <div class="map-style" id="map" style="width: 900px; height: 500px;"></div>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["new_google_api"] %>&callback=initMap"></script>
      </div>
    </div>
  </div>
</div>
