<div class="container">
  <div class="row">
    <div class="col-md-12 tax-cal-page" id="mainContainer">
      <div id="tax-table">
        <div class="income-btn btn-group">
          <h3>ANNUAL INCOME</h3>
          <button id="0-20" class="0-20">$0 - $20K</button>
          <button class="20-40">$20K - $40K</button>
          <button class="40-75">$40K - $75K</button>
          <button class="75-125">$75K - $125K</button>
          <button class="125-225">$125K - $225K</button>
          <!-- <button class="125-225-high">$125K - $225K (High SALT State)</button> -->
          <button class="225-500">$225K - $500K</button>
          <button class="500">$500K+</button>
        </div>
      </div>

      <div class="secondary-tax-buttons">
        <div class="itemize-btn btn-group">
          <p>Do you Itemize?</p>
          <button class="yes">YES</button>
          <button class="no">NO</button>
        </div>

        <div class="filling-status-btn btn-group">
          <p>Filling Joint, Single, or as Head of Household</p>
          <button class="joint">Joint</button>
          <button class="single">Single</button>
          <button class="headOfHousehold">Head of Household</button>
        </div>

        <div class="children-status-btn btn-group">
          <p>Children</p>
          <button class="noChild">0</button>
          <button class="oneChild">1</button>
          <button class="twoChild">2+</button>
        </div>
      </div>

        <div class="tax-cal-table" style="position: relative; height:40vh; width:60vw">
          <canvas id="myChart"></canvas>
          <div class="text-append">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
