<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <h3 align="center">Follow These Twitter Accounts to Stay on Top of Tax Related News</h3>
      <div class="twitter-follow-buttons">
        <%= render "twitter_accounts_to_follow" %>
      </div>
    </div>
  </div>
</div>
