@import "bootstrap-sprockets";
@import "bootstrap";


.navbar {
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.border-size {
  width: 500px;
  margin: 10px auto;
  padding: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.scrollbar {
    border: solid #52567B 3px;
    background-color: #F5F5F5;
    float: left;
    height: 650px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-top: 10px;
    width: 800px;
       overflow-y: scroll;
}

.news-scrollbar {
  height: 500px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
  width: 350px;
  overflow-y: scroll;
}

.map-style {
  margin-top: 20px;
  margin-left: 80px;
}

.force-overflow {
    min-height: 450px;
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.style_image {
  border: solid black 1px;
}

.twitter-follow-buttons {
  margin-top: 20px;
  margin-left: 10px;
}

small {
    font-size: smaller;
}


.senate-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-color: #E0E0E0;
  margin-top: 15px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: #E7EEDE;
}

.senate-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.news-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-color: gray;
}

.news-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.home-page {
  margin-top: 10px;
  margin-bottom: 5px;
}

.app-footer {
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.tax-cal-page p {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 18px;
}

#tax-table {
  text-align: center;
}

.secondary-tax-buttons {
  margin-top: 10px;
  text-align: center;
}

.text-append {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-left: 40px;
}

#regions_div path {
  stroke-width:1;
  stroke:#6699cc;
}

#regions_div path:hover {
  fill: orange;
}

#regions_div rect:hover {
  fill: transparent;
}

#messages {
  max-height: 450px;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}

.register-links {
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.log-in-style {
  margin-top: 8%;
  width: 50%;
  border: 1px solid gray;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-color: #E0E0E0;
}

.chat-room-style {
  margin-top: 8%;
  width: 50%;
  border: 1px solid gray;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-color: #E0E0E0;
}
